@font-face {
  font-family: 'yasasi r';
  src: url('~@/assets/fonts/yasaRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'yasasi b';
  src: url('~@/assets/fonts/yasaBold.ttf') format('truetype');
}